@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");

$font-text: "Noto Sans TC", sans-serif;
$font-title: "Poppins", sans-serif;

$background-color: #333533;
$bg-color: #cad2c5;
$banner-color: #242423;
$btn-color: #40916c;
$btn-text-color: #edf2f4;
$hover-color: #74c69d;
$text-color: #242423;

* {
  margin: 0;
  padding: 0;
  font-family: $font-text;
}

textarea {
  resize: none;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
}

/* Holds both Editor & Preview */
#wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

/* Style used by Editor & Preview */
@mixin box {
  padding: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: $text-color;
  width: 100%;
  min-height: 85vh;
  background-color: $bg-color;
  box-shadow: 2px 2px 3px $banner-color;
}

/* Container for buttons */
#btns {
  display: flex;
  flex: 1 1 30%;
  justify-content: flex-end;
  // width: 13vw;
}

/* Buttons */
#preview-expand,
#editor-clear,
#editor-expand {
  border: none;
  border-radius: 5px;
  padding: 7px 6px;
  background-color: $btn-color;
  color: $btn-text-color;
  font-family: $font-title;
  letter-spacing: 1.4px;
  text-shadow: 2px 1px $background-color;
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}

/* Margin between buttons */
#editor-expand {
  margin-left: 10px;
}

/* Titles */
#editor-title,
#preview-title {
  flex: 1 1 70%;
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: $font-title;
  letter-spacing: 1.6px;
  padding-left: 5px;
}

/* Container for editor */
#editor-container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 90vh;
}

/* When editor expands */
#editor-container-big {
  @extend #editor-container-small;
  width: 90%;
}

/* Editor bar normal and expanded */
#editor-bar-small,
#editor-bar-big {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: $banner-color;
  width: 100%;
  box-shadow: 2px 2px 3px $banner-color;
}

/* Inside of editor */
#editor-small {
  @include box;
  border: none;
  font-size: 15px;
}

/* Editor when expanded */
#editor-big {
  @extend #editor-small;
  width: 100%;
}

/* Preview when small */
#preview-container-small {
  @extend #editor-container-small;
  height: 90vh;
}

/* Preview when expanded */
#preview-container-big {
  @extend #preview-container-small;
  width: 100%;
}

/* Preview */
#preview-small {
  overflow-y: auto;
  overflow-x: hidden;
  @include box;
  text-align: left;
  img {
    width: 75px;
  }
  li {
    list-style-position: inside;
  }
  a {
    text-decoration: none;
    color: $btn-color;
  }
}

/* Preview Expanded */
#preview-big {
  @extend #preview-small;
  width: 90%;
}

/* Preview Bar */
#preview-bar-small {
  @extend #editor-bar-small;
}

/* Preview Bar Expanded*/
#preview-bar-big {
  @extend #preview-bar-small;
  width: 90%;
}

/*  Small screens, laptops */
@media only screen and (max-width: 1024px) {
}

/* iPads, Tablets */
@media only screen and (max-width: 768px) {
  // body {
  //   background-color: blue;
  // }

  #wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  /* Container for editor */
  #editor-container-small {
    width: 90%;
  }
}

/* Mobile devices */
@media only screen and (max-width: 480px) {
}
